@page "/about"
@model cs213_Final_Project.Pages.AboutModel
@{
    <div class="text-center">
    <h1>About Us</h1>

    <p>
        Welcome to The Fargo Springs Spa, where tranquility meets rejuvenation in the heart of Fargo.
        Our mission is to provide an oasis of calm, a sanctuary from the stresses of daily life. 
        We believe in the power of touch and the importance of self-care.

        Our team of experienced and licensed therapists is dedicated to creating a personalized experience for each guest. We offer a wide range of services, including massage therapy, facials, body treatments, and more. We use only the highest quality products, chosen for their natural ingredients and proven effectiveness.

        At The Fargo Springs Spa, we invite you to disconnect from the world and reconnect with yourself. Step into our peaceful environment and let us guide you on a journey to wellness and relaxation. We are more than just a spa; we are a community dedicated to helping you look and feel your best.
    </p>

    <h2>Contact Us</h2>
    <h5>Leave us your info and we will reach out to you shortly!</h5>
    
    </div>
   <form>
   <div class="row">
   <div class="form-group col-sm-4">
        <label>Name:</label>
        <input type="text" class="form-control" placeholder="Enter your name">
   </div>
        <div class="form-group col-sm-4">
            <label>Email:</label>
            <input type="text" class="form-control" placeholder="Enter your email">
        </div>
        <div class="form-group col-sm-4">
            <label>Phone #</label>
            <input type="text" class="form-control" placeholder="Enter your phone number">
        </div>
        </div>
        <div class="form-group">
            <label>Comments: </label>
            <textarea type="text" class="form-control" rows="3">
            </textarea>
        </div>

   </form>
}
